
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-repeat: no-repeat;

}
.note{
    color: white;
}
.container {
    color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    height: 884px;
    width: 402px; 
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;
    
    background-image: url(/BG-blur.jpg);
    background-repeat: no-repeat;
}

h1 {
    margin-top: 0;
}

#qr-code {
    margin: 1rem auto;
    padding: 1rem;
    background: white;
    display: inline-block;
}

#qr-code canvas {
    width: 256px !important;
    height: 256px !important;
}

#student-list {
    text-align: left;
    margin-top: 1rem;
}

.student-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    border-bottom: 1px solid #eee;
}

.student-item button {
    padding: 5px 10px;
    border: 1px solid #ccc;
    background-color: #efefef;
    cursor: pointer;
    border-radius: 4px;
}

.student-item button:hover {
    background-color: #ddd;
}


.input{
    outline: 0px;
    font-size: 18px;
    color: white;
    margin-top: 0px;
    border: transparent;
    border-bottom: 2px solid white;
    background-color: transparent;
    margin-top: 100px;
    padding-top: 100px;

}

.login-form{
    display: flex;
    align-items: center;
}
.forms{
    display: flex;
    flex-direction: column;
    margin: 10px;
    margin-top: 10vh;
    margin-bottom: 40vh;
    margin: 10vh 4vh 40vh 4vh;
}

.label{
    margin-top: 10px;
}


.submit{
    color: #004394;
    border-radius: 4vh;
    margin: 10vh 4vh 0 4vh;
    padding: 1vh 0 1vh 0;
    background-color: white;
    border: 1px solid #004394;
    box-shadow: 1px 1px 12px #004394;
}

